$base-colors: ('black': #000000,
    'white': #FFFFFF,
    'transparent': transparent);

$cool-colors: ( //blue
    'blue-darkest': #02305D,
    'blue-darker':#1A5D9E,
    'blue-dark': #1773CE,
    'blue': #409EFF,
    'blue-light': #65B2FF,
    'blue-lighter': #B3D9FF,
    'blue-lightest': #ECF5FF,
    // indigo
    'indigo-darkest': #272075,
    'indigo-darker':#332A99,
    'indigo-dark': #3F33BD,
    'indigo': #5A4FCF,
    'indigo-light': #837AE6,
    'indigo-lighter': #C2BDF6,
    'indigo-lightest': #F0EEFF,
    // purple
    'purple-darkest': #3D065F,
    'purple-darker':#600A97,
    'purple-dark': #840DCE,
    'purple': #AA38F2,
    'purple-light': #CC88F7,
    'purple-lighter': #E9CBFC,
    'purple-lightest': #F9F0FE,
    // pink
    'pink-darkest': #580020,
    'pink-darker':#930036,
    'pink-dark': #C9366C,
    'pink': #F06597,
    'pink-light': #F58EB4,
    'pink-lighter': #FFCDDF,
    'pink-lightest': #FFEBF2,
    // red
    'red-darkest': #750E12,
    'red-darker':#A9151A,
    'red-dark': #CC191F,
    'red': #E7393F,
    'red-light': #ED6D72,
    'red-lighter': #F8C5C7,
    'red-lightest': #FCE8E8,
    // orange
    'orange-darkest': #854300,
    'orange-darker':#C06000,
    'orange-dark': #E77400,
    'orange': #FF8710,
    'orange-light': #FFB872,
    'orange-lighter': #FFE0C0,
    'orange-lightest': #FFF3E7,
    // yellow
    'yellow-darkest': #6A5502,
    'yellow-darker':#B79303,
    'yellow-dark': #DDB104,
    'yellow': #FACB0E,
    'yellow-light': #FDE482,
    'yellow-lighter': #FEF0BC,
    'yellow-lightest': #FEF7DB,
    // pear
    'pear-darkest': #4F560C,
    'pear-darker':#7F8A13,
    'pear-dark': #9EAC18,
    'pear': #BECF1D,
    'pear-light': #DDE965,
    'pear-lighter': #F4F8CC,
    'pear-lightest': #FBFDEE,
    // green
    'green-darkest': #206120,
    'green-darker':#2F8D2F,
    'green-dark': #39AB39,
    'green': #49C249,
    'green-light': #89E089,
    'green-lighter': #DCF3DC,
    'green-lightest': #EAF8EA,
    // mint
    'mint-darkest': #136B44,
    'mint-darker':#1DA569,
    'mint-dark': #23C67E,
    'mint': #35DB92,
    'mint-light': #89EABF,
    'mint-lighter': #DCF9EC,
    'mint-lightest': #F2FCF7,
    // teal
    'teal-darkest': #225960,
    'teal-darker':#2D747D,
    'teal-dark': #378E99,
    'teal': #42A9B6,
    'teal-light': #95D1D9,
    'teal-lighter': #DDF0F3,
    'teal-lightest': #EDF9FA,
    // wine
    'wine-darkest': #481E23,
    'wine-darker':#722F37,
    'wine-dark': #8E3A44,
    'wine': #AA4652,
    'wine-light': #D2939A,
    'wine-lighter': #EFD8DB,
    'wine-lightest': #FAF3F4,
    // brown
    'brown-darkest': #3D2F2B,
    'brown-darker':#54413B,
    'brown-dark': #6B534C,
    'brown': #8D6D64,
    'brown-light': #C8B7B2,
    'brown-lighter': #E9E2E0,
    'brown-lightest': #FFF9F7,
    // almond
    'almond-darkest': #634120,
    'almond-darker':#8A5B2C,
    'almond-dark': #AD7237,
    'almond': #C48647,
    'almond-light': #DCB792,
    'almond-lighter': #EFDECD,
    'almond-lightest': #F9F0E8,
    // slategray
    'slategray-darkest': #05192D,
    'slategray-darker':#102C45,
    'slategray-dark': #2F5070,
    'slategray': #517495,
    'slategray-light': #96B1CB,
    'slategray-lighter': #D0DCE7,
    'slategray-lightest': #F2F5F7,
    // gray colors
    'gray-darkest': #36454F,
    'gray-darker':#465966,
    'gray-dark': #566E7E,
    'gray': #668295,
    'gray-light': #B7C4CD,
    'gray-lighter': #E4E8EB,
    'gray-lightest': #EEF1F5,
) !default;

$all-colors : map-merge($base-colors, $cool-colors);

$gradient-colors : ('blue', 'indigo', 'gray', 'purple', 'pink', 'red', 'orange', 'yellow', 'pear', 'green', 'mint', 'teal', 'slategray', 'brown', 'wine', 'almond') !default;
$shadow-colors : ('blue', 'indigo', 'gray', 'purple', 'pink', 'red', 'orange', 'yellow', 'pear', 'green', 'mint', 'teal', 'slategray', 'brown', 'wine', 'almond') !default;